*{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
.container{
    width: 500px;
    margin: 0 auto;
    padding: 25px
}
.userName{
    margin: 10px 20px 0 20px;
    font-weight: bold;
    font-size: 9pt;
}
.message{
    display: inline-block;
    word-break: break-all;
    max-width: 75%;
    margin: 5px 20px;
    border: none;
    padding: 5px 8px;
    border-radius: 10px;
    background-color: #FCFCFC;
    text-align: left;
    font-size: 10pt;
}
.chating ul{
    width: 100%;
}

.chating{
    background-color: #C0D3D8;
    width: 45%;
    max-width: 530px;
    min-width: 400px;
    height: 500px;
    overflow: auto;
    margin: 0 auto;
}
.chating  .me{
    text-align: right;
}
.chating .message .me{
    text-align: right;
}
.chating .others{
    text-align: left;
}
#chatting{
    border: none;
    width: 84%;
    height: 25px;
}
#yourMsg{
    display: none;
    width: 45%;
    max-width: 530px;
    min-width: 400px;
    border: 3px solid #C0D3D8;
    margin: 0 auto;
}
#sendBtn{
    height: 25px;
    float: right;
    padding: 2px;
}