<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.moneycheck.mapper.UsersMapper">
    <select id="loadUserBySNS" resultType="UsersVO">
        SELECT USERS.* FROM USERS
                                JOIN SNS_USERS SNS ON USERS.U_NO = SNS.U_NO
        WHERE SNS.ID = #{snsID}
    </select>

    <insert id="insertBySNS" parameterType="Map" >
        INSERT INTO SNS_USERS (ID, U_NO) VALUES (#{snsID},#{user.u_no})
    </insert>
    <insert id="insertEmptyUser" useGeneratedKeys="true" keyProperty="user.u_no" parameterType="Map" >
        insert into USERS (U_MAIL, U_NAME)
        VALUES(#{user.u_mail},#{user.u_name})
    </insert>
    <update id="addBookno">
        update users set BOOK_NO = #{user.u_no} where u_no = #{user.u_no}
    </update>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="user.u_no" parameterType="Map">
        insert into USERS (SC_NO, U_MAIL, U_NAME)
        VALUES(#{authValue.sc_no},#{authValue.username},#{user.u_name})
    </insert>
    <update id="connectUsers">
        update users set book_no = #{book_no} where u_mail = #{u_mail}
    </update>
    <select id="userMail" resultType="int">
        SELECT COUNT(U_MAIL) FROM USERS WHERE U_MAIL = #{u_mail};
    </select>
    <select id="loadUsers" resultType="Users">
        SELECT * FROM USERS WHERE BOOK_NO =#{book_no} order by u_name;

    </select>

    <select id="idPassword" resultType="Users">
        SELECT * FROM USERS WHERE U_MAIL =#{u_mail} and U_PASSWORD =#{u_password}
    </select>
    <delete id="deleteUser">
        DELETE FROM USERS WHERE U_NO=#{u_no}
    </delete>
    <delete id="deleteSns">
        DELETE FROM SNS_USERS WHERE U_NO=#{u_no}
    </delete>
</mapper>